<ion-view view-title="Signup">
	<ion-content>
		<form>
			<div class="page-header">
				<h3>You should totally sign up. <small>Right now.</small></h3>
			</div>	
			<div class="input-group">
				<span class="input-group-addon">Gender</span>
				<select ng-model="user.gender" class="form-control">
					<option>Male</option>
					<option>Female</option>
				</select>
			</div>
			<div class="input-group">
				<span class="input-group-addon">Gender Preference</span>
				<select ng-model="user.genderPreference" class="form-control">
					<option>Male</option>
					<option>Female</option>
				</select>
			</div>
			<button ng-click="" class="btn btn-primary">Let's Get Started!</button>
		</form>
	</ion-content>
</ion-view>