/* Empty. Add your own CSS if you like */

html, body {
	height: 100%;
}

body.home, body[class*='signup'] {
	background-image: linear-gradient(-180deg, #EB1D4E 0%, #EB1717 100%);
}

.imageRatingWrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 100%;
}

.vote-overlay {
	width: 100%;
	position: absolute;
	height: 50px;
	opacity: .7;
}

.overlay-up {
	background: pink;
	bottom: 0;
}

.overlay-down {
	background: gray;
	top: 0;
}

/*
[ui-view].ng-leave {
	animation: fadeOut 0.5s;
}

[ui-view].ng-enter {
	animation: fadeIn 0.5s;
}
*/
