/* Empty. Add your own CSS if you like */

html, body {
	height: 100%;
}

body {
	transition: background 1s;
}

body.home, body[class*='signup'] {
	background-image: linear-gradient(-180deg, #EB1D4E 0%, #EB1717 100%);
}

body.home .container, body[class*='signup'] .container {
	min-height: 50%;
	margin: 20% 15%;
}

body.home .container, body[class*='signup'] .container {
	margin-top: 45%;
	color: #F1F2F3;
}

body[class*='signup'] .container a.action-button {
	display: block;
	margin: 0 auto;
	width: 60%;
	border: 3px solid #F1F2F3;
	text-decoration: none;
	color: #F1F2F3;
	font-size: 1.5em;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	transition: all linear 0.5s, background 0.2s, color 0.2s;
}

body[class*='signup'] .container a.action-button.activated {
	background: #F1F2F3;
	color: #EB1D4E;
}

body[class*='signup'] .container .signup-instructions {
	width: 55%;
	margin: .65em auto;
	font-size: .8em;
}

body[class*='signup'] .container a.action-button {
	margin-top: 1.5em;
}

body[class*='signup'] .container .pane, body[class*='signup'] .container  .view {
	top: 50%;
}


body[class*='signup'] .container .signup-form {
	width: 60%;
	margin: 0 auto;
	line-height: 1.4em;
	top: 43%;
}

body[class*='signup'] .container .signup-form .list p {
	font-size: 1.2em;
	padding-left: 5px;
}

body[class*='signup'] .container .signup-form .action-button {
	margin-top: 11.5em;
	width: 100%;
	z-index: 99;
	position: relative;
}

body[class*='signup'] .container .signup-form .item-checkbox {
	text-transform: capitalize;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	background: #EB1D4E;
	border-color: #EB1717;
}

.view-container.signup-content {
	position: static;
	width: auto;
	height: auto;
}

.pane, .view {
	background: transparent !important;
}

.app-logo {
	background: url(../img/logo.png) no-repeat center top;
	padding-top: 80px;
	background-size: contain;
	transition: all linear 0.5s
}



/*
.app-logo p {
	color: #fff;
	font-style: italic;
	text-align: center;
}
*/






.imageRatingWrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: background-image .5s;
}

.vote-overlay {
	width: 100%;
	position: absolute;
	opacity: 0;
	height: 0;
}

.overlay-up {
	background: pink;
	bottom: 0;
}

.overlay-down {
	background: gray;
	top: 0;
}

.vote-overlay.on {
	height: 100%;
	opacity: .7;
	transition: height .5s, opacity .5s;
}

.vote-overlay.on.fadeOut {
	opacity: 0;
}




.animate-show {
	opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
	transition: all linear 0.5s;
}

.animate-show.ng-hide {
	opacity: 0;
}

[ui-view].ng-enter, [ui-view].ng-leave {
/*
	position: absolute;
	left: 0;
	right: 0;
*/
	transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
	opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1;
}

[ui-view].ng-leave {
	opacity: 1;
}

[ui-view].ng-leave-active {
	opacity: 0;
}
